
.calendar {
    padding: 0px 10px 0px 10px;
}

.time-col{
    text-align: right;
}

.slot-col {
    background-color: lightgray;
    position: relative;
}

span.hour {
    font-weight: bold;
}

div.slot {
    position: absolute;
    background-color: white;
}